body {
    background-color: #575757;
    margin: 0;
    padding: 0;
    border: 0;
}

body:not(.h) {
    background-image: linear-gradient(0deg, #1b1b1b 0%, #ffffff 50%, #1b1b1b 100%);
}

body.h {
    background-image: linear-gradient(90deg, #1b1b1b 0%, #ffffff 50%, #1b1b1b 100%);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

canvas:not(.h){
    width: 100%;
}

canvas.h {
    height: 100%;
}

#fontLoader {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: -8px;
    left: -8px;
    border: 0;
    padding: 0;
    margin: 0;
    visibility: hidden;
}